.section {
  padding: 60px 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Press Start 2P", system-ui;
  color: #f5f5f5;
}

.header {
  color: black;
  text-decoration: none;
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  font-family: "Press Start 2P", system-ui;
  z-index: 10; /* prevents overlap issues */
}

.header a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}
#name {
  text-align: center;
  margin-top: 40px;
  font-size: 2.5rem;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
#name {
  color: #f5f5f5;
  font-family: "Press Start 2P", system-ui;
}

iframe {
  height: 600px;
  width: 500px;
}
